body {
    color: #101010;
    background-color: coral;
}
.centralDiv {
    width: 100%;
    alignment: center;
    height: 100%;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
}
.inputBar {
    width: 150px !important;
}

.slds-card {
    opacity: 1;
    margin: 0px 10px 10px 10px !important;
}
.slds-card__footer {
    border-top-width: 1px;
    border-top-color: rgb(221, 219, 218);
    border-top-style: solid;
}
.txtlink {
    color: #357280;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.tableHeader{
    font-weight: bold;
    background-color: #505050;
    color: cadetblue;
}

